div.loading{
    position: absolute;
    width: 50%;
    height: 100vh;
    display: flex;

    div.left-side{
        position: absolute;
        font-family: Main;
        text-align: end;
        font-size: 5vw;
        top: 50%;
        right:50%;
        margin: 10px;
        background-color: #3CD2B7;
        background-clip: text;
        text-shadow: 0px 4px 4px rgba(255,255,255,.5);
        color: transparent;
        transform: translateY(-50%);
    }
    div.right-side{
        position: absolute;
        font-family: Roboto;
        text-align: start;
        font-size: 2vw;
        top: 50%;
        left:50%;
        margin-left: 15px;
        color: #868686;
        transform: translateY(-50%);
    }

    div.album-image{
        position: absolute;
        left:50vw;
        width: 50vw;
        height: 100vh;
    }

    img.album-img-src-bg{
        position: relative;
        width: 100%;
        height: 100%;
        filter: blur(8px);
    }

    img.album-img-src-fg{
        position: absolute;
        width: 25vw;
        height: 25vw;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%,-50%);
    }
}