<div class="container">

    <div class="left_side">
        <div class="right_aligned">
            We Love<br>your<br>taste
        </div>
        <div class="left_aligned">
            Track your<br>Spotify stats,get to<br>know your taste.<br>Lorem ipsum
        </div>
    </div>

    <div class="right_side">
        <img class="background" src="assets/images/featured.png">
        <img class="foreground" src="assets/images/featured.png">
    </div>


    <div class="icon-btn">
        <button>Connect with Spotify</button>
    </div>

</div>
