div.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;

    div.left_side{
        position: absolute;
        width: 50%;
        height: 100%;

        div.right_aligned{
            position: absolute;
            font-family: Main;
            text-align: end;
            font-size: 4em;
            top: 50%;
            right: 50%;
            margin: 10px;
            background-color: #3CD2B7;
            background-clip: text;
            text-shadow: 0px 4px 4px rgba(255,255,255,.5);
            color: transparent;
            transform: translate(-50%,-50%);
        }

        div.left_aligned{
            position: absolute;
            font-family: Roboto;
            text-align: left;
            font-size: 1.5em;
            top: 50%;
            margin: 10px;
            margin-left: 50px;
            color: #727272;
            left: 50%;
            transform: translate(-50%,-50%);            
        }

    }

    div.right_side{
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;



        img.background {
            position: absolute;
            height: 100%;
            width: 100%;
            filter: blur(9px);
        }


        section{
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

            img.foreground {
                position: relative;
                width: 60%;
                left: 50%;
                top: 50%;
                transform: translateX(-50%);
            }

            span.featured-txt{
                position: absolute;
                right: 20%;
                top: 102%;
                width: fit-content;
                font-size: x-large;
                text-align: end;
                color: white;
                font-family: Main;
            }
        }
    }

}