div.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;

    div.left_side{
        position: absolute;
        width: 50%;
        height: 100%;
    }

    div.right_side{
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;

        img.foreground {
            position: relative;
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        img.background {
            position: absolute;
            height: 100%;
            width: 100%;
            filter: blur(9px);
        }
    }

}