@media only screen and (min-width: 601px){
    div.page{
        position: relative;
        left: 0%;
        width: 100%;
        height: 100vh;

        div.arrow{
            cursor: pointer;
            display: flex;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%,-110%);
            font-family: Main;
            font-size: 3vh;
        }

        img.arrow{
            position: absolute;
            height: 100%;
            transform: translateX(-100%);
        }

        a.see_all{
            position: absolute;
            width: fit-content;
            padding: 15px;
            top: 100%;
            left: 100%;
            text-align: center;
            transform: translate(-100%,-100%);
            color: blue;
        }

        div.top_container{
            position: absolute;
            width: 30vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        
            section.title{
                bottom: 50%;
                position: absolute;
                overflow-wrap: break-word;
                font-family: Main;
                font-size: 6vh;
                text-align: center;
                transform: translateY(-16vh);
            }

            img.top-img{
                position: absolute;
                left: 50%;
                height: 30vh;
                top: 50%;
                transform: translate(-50%,-50%);
            }

            section.track-name{
                position: absolute;
                width: max-content;
                top: 50%;
                font-family: Main;
                font-size: 3vh;
                text-align: center;
                left: 50%;
                transform: translate(-50%,16vh);
            }

            section.album-name{
                position: absolute;
                width: max-content;
                top: 50%;
                font-family: Main;
                font-size: 3vh;
                text-align: center;
                left: 50%;
                transform: translate(-50%,20vh);
            }

            section.by-artist{
                position: absolute;
                width: max-content;
                top: 50%;
                font-family: Main;
                font-size: 3vh;
                text-align: center;
                left: 50%;
                transform: translate(-50%,24vh);
            }
        
        }

        .second{
            position: absolute;
            width: 24vh;
            top: 25%;
            left: 25%;
            transform: translateX(-50%) rotate(-15deg);
        }

        .third{
            position: absolute;
            width: 20vh;
            top:30%;
            left: 75%;
            transform: translateX(-50%) rotate(15deg);
        }

        .fourth{
            position: absolute;
            width: 15vh;
            bottom: 25%;
            left: 15%;
            transform: translateX(-50%) rotate(-15deg);
        }

        .fifth{
            position: absolute;
            width: 10vh;
            bottom:30%;
            left: 85%;
            transform: translateX(-50%) rotate(15deg);
        }
    }
}

@media only screen and (max-width: 600px){
    div.page{
        position: relative;
        left: 0%;
        width: 100%;
        height: 100vh;

        div.arrow{
            cursor: pointer;
            display: flex;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%,-110%);
            font-family: Main;
            font-size: 2vh;
        }

        img.arrow{
            position: absolute;
            height: 100%;
            transform: translateX(-100%);
        }

        a.see_all{
            position: absolute;
            width: fit-content;
            padding: 15px;
            top: 100%;
            left: 100%;
            text-align: center;
            transform: translate(-100%,-100%);
            color: blue;
        }

        div.top_container{
            z-index: 1;
            position: absolute;
            width: 50vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        
            section.title{
                bottom: 50%;
                position: absolute;
                overflow-wrap: break-word;
                font-family: Main;
                font-size: 3vh;
                text-align: center;
                transform: translateY(-16vh);
            }

            img.top-img{
                position: absolute;
                left: 50%;
                height: 20vh;
                top: 50%;
                transform: translate(-50%,-50%);
            }

            section.track-name{
                position: absolute;
                width: max-content;
                top: 50%;
                font-family: Main;
                font-size: 2.5vh;
                text-align: center;
                left: 50%;
                transform: translate(-50%,16vh);
            }

            section.album-name{
                position: absolute;
                width: max-content;
                top: 50%;
                font-family: Main;
                font-size: 2.5vh;
                text-align: center;
                left: 50%;
                transform: translate(-50%,20vh);
            }

            section.by-artist{
                position: absolute;
                width: max-content;
                top: 50%;
                font-family: Main;
                font-size: 2.5vh;
                text-align: center;
                left: 50%;
                transform: translate(-50%,24vh);
            }
        
        }

        .second{
            position: absolute;
            width: 6vh;
            top: 25%;
            left: 10%;
            transform: translateX(-50%) rotate(-15deg);
        }

        .third{
            position: absolute;
            width: 10vh;
            top:30%;
            left: 85%;
            transform: translateX(-50%) rotate(15deg);
        }

        .fourth{
            position: absolute;
            width: 7.5vh;
            bottom: 25%;
            left: 15%;
            transform: translateX(-50%) rotate(-15deg);
        }

        .fifth{
            position: absolute;
            width: 5vh;
            bottom:30%;
            left: 85%;
            transform: translateX(-50%) rotate(15deg);
        }
    }
}