.idheader{
    font-family: Main;
    position: absolute;
    margin: 15px;
}

.idh{
    padding: 0px;
    margin: 0px;
}

.idh1{
    font-size :xx-large;
    color: #515151;
}
.idh2{
    font-size: large;
    color: #D1D1D1;
}