.idheader{
    font-family: Main;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 15px;
}

.idh{
    padding: 0px;
    margin: 0px;
}

.idh1{
    font-size :xx-large;
    color: #515151;
}
.idh2{
    font-size: large;
    color: #c7c7c7;
}