div.container{
    position: absolute;
    width: 100%;
    height: 100%;

    div.left-side{
        position: absolute;
        top: 50%;
        right: 50%;
        text-align: end;
        font-family: Main;
        font-size: 4vw;
        max-width: 15vw;
        overflow-wrap: break-word;
        transform: translateY(-50%);
        margin-right: 15px;
    }

    .green-text{
        background-color: #3CD2B7;
        background-clip: text;
        text-shadow: 0px 4px 4px rgba(255,255,255,.5);
        color: transparent;
    }

    div.right-side{
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: start;
        font-family: Roboto;
        font-size: 1.5vw;
        max-width: 15vw;
        overflow-wrap: break-word;
        transform: translateY(-50%);
        margin-left: 15px;
    }

}