/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/roboto.ttf);
}

@font-face {
    font-family: Main;
    src:url(assets/fonts/main.ttf);
}